@font-face {
  font-family: "Migu 1M";
  font-weight: 400;
  font-display: swap;
  src: local("Migu 1M"), local("Migu 1M Regular"), url("/fonts/migu-1m-regular.woff2");
}

@font-face {
  font-family: "MigMix 2P";
  font-weight: 400;
  font-display: swap;
  src: local("MigMix 2P"), local("MigMix 2P Regular"), url("/fonts/migmix-2p-regular.woff2");
}

@font-face {
  font-family: "MigMix 2P";
  font-weight: 700;
  font-display: swap;
  src: local("MigMix 2P"), local("MigMix 2P Bold"), url("/fonts/migmix-2p-bold.woff2");
}
